- 
%h2 #{User.find(@submission.user_id).first_name} #{User.find(@submission.user_id).last_name} assignment for #{Course.find(@submission.course_id).title}
%ul#details
  %li
    Date Submitted:
    = @submission.created_at
  %li
    Grade:
    = @submission.grade
  %li
    Feedback:
    = @submission.feedback
-if current_user.instruc? or current_user.admin?
  =link_to 'grade assignment', edit_submission_path(@submission)
