%h2 All Hospitals

%table#hospitals
  %thead
    %tr
      %th Hospital Name
      %th City
      %th Creation Date
      %th More Info
  %tbody
    - @hospitals.each do |hospital|
      %tr
        %td= hospital.name
        %td= hospital.city
        %td= hospital.creation_date
        %td= link_to "More about #{hospital.name}",hospital_path(hospital)
-# add to end of index.html.haml
= link_to 'Add new Hospital', new_hospital_path
