%h1 Edit course
.row
  .span6.offset3
    = form_tag course_path(@course), :method => :put do
      %p= label :course,:Course_Title
      %p= text_field :course,:title
      %p= label :course,:Points
      %p= text_field :course,:points
      %p= label :course,:Description
      %p= text_area :course,:content, :rows => 5, :class => "span3", :placeholder => "Enter text"
      %p= submit_tag "Create course", class: "btn btn-large btn-primary"
