%h1 New course
.row
  .span6.offset3
    = simple_form_for :course, :url => {:action => :create } do |f|
      %p= f.label :Course_Title
      %p= f.text_field :title
      %p= f.label :Tags
      %p= f.text_field :tags
      %p= f.label :Content
      %p= f.text_area :content
      %p= f.submit "Create course", class: "btn btn-large btn-primary"
