%h1 New course
.row
  .span6.offset3
    = simple_form_for :course, :url => {:action => :create } do |f|
      = f.label :Course_Title
      = f.text_field :title
      = f.label :Content
      = f.text_field :content
      = f.submit "Create course", class: "btn btn-large btn-primary"
