%h1 New course
.row
  .span6.offset3
    = simple_form_for :course, :url => {:action => :create } do |f|
      %p= f.label :Course_Title
      %p= f.text_field :title
      %p= f.label :Points
      %p= f.text_field :points
      %p= f.label :Description
      %p= f.text_area :content, :rows => 5, :class => "span3", :placeholder => "Enter text"
      %p= f.submit "Create course", class: "btn btn-large btn-primary"
